h1 {
    font-size: 40px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('https://clipart-library.com/images/kcMnRqBoi.gif'), linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    overflow: hidden;
    text-align: center;
    color: #B9FFB7;
    font-family: sans-serif
}

button {
    font-size: 20px;
    font-weight: bold;
    background-color: #33658A;
    color: #B9FFB7;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    width: auto;
    height: auto;
    cursor: pointer;
    transition: 0.1s ease;
    margin-left: 0.3%;
    margin-right: 0.3%;
}

button:hover {
    border: 3px solid #B9FFB7;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 0 10px #33658A;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group label {
    font-weight: bold;
    font-size: 26px;
    padding: 5px;
    display: block;
    text-align: left;
}

.form-group input {
    padding: 5px;
    border: 2px solid #33658A;
    border-radius: 10px;
    font-size: 16px;
    color: #33658A;
}

select {
    padding: 5px;
    border: 2px solid #33658A;
    border-radius: 10px;
    font-size: 16px;
    color: #33658A;
}