<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="../static/css/styleConsult.css" type="text/css" />
        <title>Consult Web App</title>
       
    </head>
    <body>
        <h1> Consultar mascotas </h1>
        <div>
            <label> Nombre de la Mascota </label> <input> <br> <br>
            <label> Nombre del propietario </label> <input> <br> <br>
            <textarea> </textarea> <br> <br>
            <button> Consultar </button>
       </div>
    </body>
</html>