<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Arquitectura en la Nube</title>
        <link rel="stylesheet" href="../static/css/styleHome.css" type="text/css" media="all" />
        <script src="../static/js/appHome.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1>Bienvenidos</h1>
        <div>
        <img src="https://www.servnet.mx/hs-fs/hubfs/Blog/Blog_Art%C3%ADculos/Blog_Art%C3%ADculos_2021/Blog_Art%C3%ADculos_MS_Febrero_2021/Blog_Art%C3%ADculos_MS_Febrero_2021_Art1_CL/cloud-publico.png?width=900&name=cloud-publico.png"></img> 
        <br /> <br />
        <button onClick = "registerPage()"> Register Page </button>
        <button onClick = "consultPage()"> Consult Page </button>
        </div>
    </body>
</html>