<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Registrar Mascotas</title>
    <link rel="stylesheet" href="../static/css/styleRegister.css" type="text/css" />
    <script src="../static/js/appRegister.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>
    <h1>Datos de registro</h1>
    <form action="/register_user" method="post">
        <div class="form-group">
            <label>Nombre de la Mascota</label> <input type="text" name="nombreMascota" />
        </div>
        <div class="form-group">
            <label>Nombre del propietario</label> <input type="text" name="propietario">
        </div>
        <div class="form-group">
            <label>Tipo de Mascota</label>
                <select id="tipoMascota" name="petType">
                <option value="Seleccione">Seleccione...</option>
                <option value="perro">Perro</option>
                <option value="gato">Gato</option>
                <option value="pajaro">Pájaro</option>
            </select>
        </div>
        <div class="form-group">
            <label>Raza</label> <input type="text" name="raza" />
        </div>
        <div class="form-group">
            <label>Sexo</label>
        </div>
        <div class="radio-group">
            <div>
                <label for="sexoMacho">
                    <input type="radio" id="sexoMacho" name="sexo" value="macho" required>
                    Macho
                </label>
                <label for="sexoHembra">
                    <input type="radio" id="sexoHembra" name="sexo" value="hembra" required>
                    Hembra
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>Edad</label> <input type="text" name="edad" />
        </div>
        <button onClick="registerUser()">Registrar</button>
    </form>

</body>

</html>
